@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
  * {
    @apply border-slate-200;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
}
